@import './../../../../sass/vars.scss';

.button {
    width: 140px;
    height: 35px;
    background-color: $accentColor;
    color: #fff;
    border: 0;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 3px;
    letter-spacing: 0.12em;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.699);
        transition: box-shadow 0.2s ease 0s;
    }
}