@import './../../../sass/mixins.scss';

.sale{
    background-color: $accentColor;
    padding: 28px 1%;
    display: grid;
    grid-template-columns: 152px 180px 310px 1fr;
    grid-template-areas: 
    'moto all text btn';
    @include media(md){
        grid-template-columns:repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
        "text text text"
        "moto btn all";
    }
    // @media screen and (max-width:960px){
    //     grid-template-columns: repeat(3,1fr);
    //     grid-template-rows: repeat(2,1fr);
    //     padding-left: 0;
    // }
}
.saleAll{
    transform: scaleX(-1);
    // @media screen and (max-width:960px){
    //     grid-column: 3/4;
    //     grid-row: 2/3;
    // }
}
// .saleMoto{
//     @media screen and (max-width:960px){
//         grid-column:1/2;
//         grid-row: 2/3;
//         justify-content: space-around;
//     }
// }
.saleMoto,
.saleAll{
    display: flex;
    justify-content: end;
    align-items: center;
}
.imgMoto,
.imgAll{
    @include media(s){
        max-width: 66px;
    }
}
.saleText{
    font-weight: 700;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include media(md){
        text-align: center;
    }
    @include media(s){
        font-size: 18px;
        line-height: 18px;
    }
    // @media screen and (max-width:960px){
    //     grid-column:1/4 ;
    //     grid-row: 1/2;
    // }
}
.br{
    @include media(md){
        display: none;
    }
}
.saleButton{
    display: flex;
    justify-content: start;
    align-items: center;
    @include media(md){
        justify-content: center;
        min-width: 132px;
    }
}
.button{
    max-width: 284px;
    max-height: 57px;
    border: none;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    text-align:center;
    color: #2F3035;
    cursor: pointer;
    @include media(s){
        font-size: 14px;
        line-height: normal;
        padding: 5px 3px;
    }
}
.saleMoto{
    grid-area: moto;
}
.saleAll{
    grid-area: all;
}
.saleText{
    grid-area: text;
}
.saleButton{
    grid-area: btn;
}