@import './../../sass/vars.scss';
@import './../../sass/mixins.scss';


.content{
    outline: 10px solid blue;
}
.breadcrumbs{
    margin: 40px 0px;
}
.title{
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2F3035;
}
.nav{
    margin-bottom: 20px;
}



// ---------------------------------------------
.catalogInner {
    grid-template-columns: 291px 1fr;
    padding-top: 40px;
    padding-bottom: 100px;
    @media screen and (min-width: 600px) {
        display: grid;
    }
}

.catalogBody {
    padding-top: 30px;
    @media screen and (min-width: 600px) {
        padding-top: 0;
    }
}

.catalogContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 30px;
    padding-bottom: 70px;
}

.catalogFooter {
    display: flex;
    justify-content: center;
}
.pagination {
    button { 
        border-radius: 0;
        color: #C4C4C4;
    } 
}