@import './../../../sass/vars.scss';
@import './../../../sass/mixins.scss';


.menuItem {
   &:not(:last-child) {
      margin-right: 10px;
   }
}
.menuLink {
   line-height: 24px;
   font-weight: 700;
   &:hover {
      text-decoration: underline;
   }
   @media (max-width: 992px) {
      line-height: 53px;
      display: inline-block;
   }
}