.minInput,
.maxInput{
    display: flex;
    align-items:flex-end;
}
.minSpan,
.maxSpan{
    font-size: 14px;
    line-height: 17px;    
    color: #C4C4C4;
    margin-right: 10px;
}
.conclusion{
    display: flex;
    justify-content: space-between;
}