@import './../../../sass/vars.scss';


.spanSale{
    width: 37%;
    height: 30px;
    background: $accentColor;
    text-align: center;
}
.text{
    font-family: 'ProximaNova';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}