@import './../../sass/vars.scss';
@import './../../sass/mixins.scss';

.contentProduct {
    outline: 10px solid red;
    padding-top: 20px;
}
.contentBreadcrumb {
    margin-bottom: 44px;
}

.breadcrumb {
    font-size: 15px;
    line-height: 18px;
    color: $mainGrey;
}

h2 {
    font-weight: 400;
}