
@font-face {
	font-family: SFProDisplay;
	font-display: swap;
	src: url("./assets/fonts/SFProDisplay/SFProDisplay-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: SFProDisplay;
	font-display: swap;
	src: url("./assets/fonts/SFProDisplay/SFProDisplay-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: SFProDisplay;
	font-display: swap;
	src: url("./assets/fonts/SFProDisplay/SFProDisplay-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: SFProDisplay;
	font-display: swap;
	src: url("./assets/fonts/SFProDisplay/SFProDisplay-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Barlow;
	font-display: swap;
	src: url("./assets/fonts/Barlow/Barlow-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Barlow;
	font-display: swap;
	src: url("./assets/fonts/Barlow/Barlow-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Barlow;
	font-display: swap;
	src: url("./assets/fonts/Barlow/Barlow-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: ProximaNova;
	font-display: swap;
	src: url("./assets/fonts/ProximaNova/ProximaNova-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Staatliches;
	font-display: swap;
	src: url("./assets/fonts/Staatliches-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}





