.footerList{
    font-size: 14px;
    line-height: 17px;
    color: #2F3035;
    // padding-right: 100px;
    min-width: 140px;
    margin-top: 40px;
}
.header{
    font-size: 14px;
    margin-bottom: 5px;
}
.listItem{
    list-style-type: none;
    margin-bottom: 5px;
}
